.root {
    -fx-background-color: #f4a460;
    -fx-padding: 10.0; 
    -fx-vgap: 5.0;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: #fff8dc;
    -fx-font-size: 15.0;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 15.0;
}

	
.hbox {
    -fx-padding: 10;
    -fx-spacing: 30;
    -fx-alignment: center;
}

.region {
    -fx-min-width: 20;
}





